:root {
  --primary-color-1: #9e2a2b;
  --primary-color-2: #000;
  --secondary-color-1: #f4f4f4;
  --secondary-color-2: #868686;
  --font-feature-settings: "clig" off, "liga" off;
  --font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  --line-height: 140%;
}

.App {
  text-align: center;
}
body {
  margin: 0 !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

  /* 24-simibold-header1 */
.header1 {
  color: var(--primary-color-2);
  font-feature-settings: var(--font-feature-settings);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 600;
  line-height: var(--line-height);
}
  /* 20-simibold-header2 */
.header2 {
  color: var(--primary-color-2);
  font-feature-settings: var(--font-feature-settings);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 600;
  line-height: var(--line-height);
}
  /* 16-simibold-header3 */
.header3 {
  color: var(--primary-color-2);
  font-feature-settings: var(--font-feature-settings);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: var(--line-height);
}
  /* 16-medium-bodyText1 */
.bodyText1 {
  color: var(--primary-color-2);
  font-feature-settings: var(--font-feature-settings);
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: var(--line-height);
}
 /* 14-regular-bodyText2 */
.bodyText2 {
  color: var(--primary-color-2);
  font-feature-settings: var(--font-feature-settings);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: var(--line-height);
}
 /* 12-regular-bodyText3 */
.bodyText3 {
  color: var(--primary-color-2);
  font-feature-settings: var(--font-feature-settings);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
  line-height: var(--line-height);
}
.secondaryText{
  color: var(--secondary-color-2);
}

//TODO change it
.header4 {
  color: #868686;
  font-feature-settings: "clig" off, "liga" off;
  /* 20-simibold-title2 */
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height);
}


// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: #61dafb;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

//This is the style for the youtube container in module video page
.responsive-iframe-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  height: 0;
  border-radius: 12px;
}
.responsive-iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

//This is the congrats image on the quiz result page
.resultImg {
  width: 100%;
  margin-bottom: 12px;
}

//This is the style for all the buttons
.actionButton {
  background-color: #9e2a2b;
  border-color: #9e2a2b;
  color: white;
  height: 40px;
  border-radius: 100px;
}

//this is the content body style for all the pages
.contentBody {
  background: white;
  padding: 20px;
  min-height: 100vh;
  padding-bottom: 100px;
}

//this is the content body style for quiz, video, and quiz result pages to make it not take up the whole screen
.quizBody {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 900px !important;
}

.quizQuestion{
  padding: 14px 0;
}
.content, .ant-tabs-tab-btn {
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  /* 14-medium */
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: '1.6em';
}
.semibold{
  font-weight: 500;
}
.contentBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.secondaryContent {
  color: #868686;
  font-feature-settings: "clig" off, "liga" off;
  /* 14-regular */
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.recapContent{
  padding: 20px 0;
}
.buttonText {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.paragraph {
  margin-top: 12px;
}
.ant-menu-title-content {
  color: white;
}
.ant-drawer-content-wrapper {
  max-width: 76vw !important;
}
.ant-menu-title-content {
  font-size: 16px !important;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: var(--line-height)
}

.ant-card-body {
  padding: 8px !important;
  padding-bottom: 20px !important;
}
.status-card {
  display: flex;
  gap: 4px;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.profile-display {
  padding: 10px 0;
  color: black;
}

.profile-card{
  padding: 15px;
  background-color: #f0f0f1;
  border-radius: 8px;
}


.site-collapse-custom-panel {
  background: #fff;
  border: 0;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

/* Style for the collapse panel header in nav bar*/
.site-collapse-custom-panel > .ant-collapse-header {
  padding-left: 0 !important;
  color: #9e2a2b;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--font-family);
}
/* Style for the content box in nav ba*/
.site-collapse-custom-panel .ant-collapse-content-box {
  font-size: 16px;
  padding-left: 20px;
  margin-left: 10px;
  font-family: var(--font-family);
}

/* CSS file */

.cardStyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;
  margin-bottom: 10px;
  /* other styles */
}

.infoIconStyle {
  color: #9e2a2b;
  font-size: 24px;
  /* other styles */
}

.titleStyle {
  font-weight: bold;
  font-size: 18px;
  /* other styles */
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
}

.contentStyle {
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  flex-grow: 1;
  margin-left: 20px; /* Adjust spacing as needed */
  align-self: flex-start;
}

.rightArrowStyle {
  color: #9e2a2b; /* Adjust as needed */
  font-size: 16px;
  cursor: pointer;
  /* other styles */
}

.dressCodeList {
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.dressCodeList li {
  padding: 5px 0;
}

.imageRow {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dressCodeImage {
  width: 100%; /* This will make the image responsive */
  height: auto;
  object-fit: cover; /* This will cover the area without stretching the image */
}
.navBox {
  border-bottom: 1px solid #f0f0f1;
  padding: 20px 24px 40px 24px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
}
.navLogoBox {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.navLogoBox img {
  height: 100%;
  width: auto;
}

.question-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.alert-inline {
  display: inline-flex; /* Makes the alert hug its content */
  align-items: center;
  margin-left: 16px; /* Adjust as needed for spacing */
  padding: 4px 10px;
  color: #000;
  font-feature-settings: "clig" off, "liga" off;
  /* 14-medium */
  font-family: Inter, Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.coverImg {
  height: 164px;
  object-fit: cover;
}

.goButton {
  display: none;
  background-color: #9e2a2b;
  color: white;
  border: none;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
  font-size: 16px;
}

.recapCardDisplay {
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center; /* Changed from space-around to center for vertical alignment */
  justify-content: space-between;
  width: 300px;
  background-color: #f0f0f1;
}

.recapIconDisplay {
  display: flex;
  flex-direction: row;
}

.recapTitleDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}
.ant-menu-overflow-item.ant-menu-item.ant-menu-item-active.ant-menu-item-selected.ant-menu-item-only-child::after {
  border-bottom-color: white !important;
}
.videoContainer {
  text-align: center;
  margin: 12px 0;
}
.resultpageButton {
  background-color: #9e2a2b;
  border-color: #9e2a2b;
  color: white;
  height: 40px;
  border-radius: 100px;
  width: auto;
  align-items: center;
  padding: 8px 28px;
  min-width: 212px;
}

.congratsTitle {
  font-weight: 600;
  font-size: "16px";
}

.congratsContent {
  font-size: "16px";
}

@media (max-width: 500px) {
  .headerMenu {
    display: none;
  }
}
@media (min-width: 500px) {

  /* 32-simibold-header1 */
.header1 {
  font-size: 32px;
}
  /* 24-simibold-header2 */
.header2 {
  font-size: 24px;
}
  /* 20-simibold-header3 */
.header3 {
  font-size: 20px;
}
  /* 20-medium-bodyText1 */
.bodyText1 {
  font-size: 20px;
}
 /* 18-regular-bodyText2 */
.bodyText2 {
  font-size: 18px;
}
 /* 16-regular-bodyText3 */
.bodyText3 {
  font-size: 16px;
}

  .actionButton {
    margin-left: 10rem;
    margin-right: 10rem;
    height: 50px;
    // width: 20vw;
    // max-width: 600px !important;
  }
  .menuicon {
    display: none;
  }
  .ant-menu-title-content {
    color: #ffffff !important;
  }
  .headerMenu {
    max-width: 90rem;
    margin: auto;
    padding-left: 28px; /* Adjust as needed */
    padding-right: 28px; /* Adjust as needed */
  }
  .contentBody {
    padding: 44px 44px;
    max-width: 90rem;
    margin: auto;
    padding-bottom: 100px;
  }
//TODO delete this
  .header4 {
    font-size: 16px;
  }
  .content, .ant-tabs-tab-btn {
    font-size: 18px;
  }
  .buttonText {
    font-size: 20px;
  }
  .secondaryContent {
    font-size: 16px;
  }
  .paragraph {
    margin-top: 28px;
  }
  .ant-card-body {
    padding: 20px !important;
    padding-bottom: 20px !important;
  }
  .card-body {
    gap: 8px;
  }
  .ant-col {
    padding-right: 2vw !important;
    padding-bottom: 1vw !important;
  }
  .coverImg {
    height: 240px;
  }
  .recapCardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .rightArrowStyle {
    display: none;
  }
  .goButton {
    display: flex;
  }
  .recapIconDisplay {
    flex-direction: column;
    align-items: center;
  }
  .recapTitleDisplay {
    align-items: center;
  }
  .recapCardDisplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 220px;
    width: 360px;
  }
  .videoTimeContainer {
    padding: 10px 0;
  }
  .recapCardDisplay .infoIconStyle,
  .recapCardDisplay .content,
  .recapCardDisplay .secondaryContent,
  .recapCardDisplay .rightArrowStyle {
    margin-bottom: 15px; /* Adjust this value to increase or decrease the space between items */
  }

  .site-collapse-custom-panel {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .site-collapse-custom-panel > .ant-collapse-header {
    font-size: 20px;
  }

  .site-collapse-custom-panel .ant-collapse-content-box {
    font-size: 20px;
  }

  .profile-input {
    font-size: 18px;
  }

  .buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
  }
  .ant-alert-message {
    font-size: 16px;
  }
  .resultpageButton {
    height: 50px;
    border-radius: 100px;
    width: 30vw !important;
    align-items: center;
    padding: 8px 28px;
    min-width: 280px;
    max-width: 500px;
  }
  .divMargin {
    margin-bottom: 10px;
  }
  .resultImg {
    width: 40vw;
    margin-bottom: 32px;
    max-width: 800px;
  }

  .congratsTitle {
    font-size: 20px;
  }

  .congratsContent {
    font-size: 20px;
  }
}
