:root {
  --amplify-colors-font-primary: #000;
  --amplify-button-primary-background-color: pink;
  --amplify-button-primary-color: var(--amplify-colors-font-primary);
}

.amplify-button {
  border-radius: 0;
}